language: python
python:
  - "2.7"
# command to install dependencies
install: "pip install -r setup/requirements.txt"
# command to run tests
script: nosetests -v --with-timer --with-coverage --cover-package=problems --cover-package=tools --cover-min-percentage=100
